DATABASE_URL=

ENV=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE =
REFRESH_TOKEN_EXPIRE =

ADMIN_EMAIL=
ADMIN_PASSWORD=

RESET_TOKEN_EXPIRE_MINUTES =

FRONTEND_URL=

MAIL_FROM=
SENDGRID_API_KEY=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_SECRET_KEY= 
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=  
STRIPE_CURRENCY=

GOOGLE_API_KEY=